#timesheet_grid {
  display: none;
}

#p2_sidebar {
  width: 20%;
  float: right;
  padding-right: 4em;
  margin-top: 2em;
}

#p2_content {
  width: 70%;
  float: left;
  padding-left: 4em;
  margin-top: 2em;
}

#p2_sidebar h2 {
  font-weight: bold;
  color: white;
  background: black;
  padding: 0.5em 1em;
}

#p2_sidebar .total {
  font-weight: bold;
}

#p2_sidebar table {
  width: 100%;
}

#p2_sidebar > div {
  background-color: rgba(245, 241, 238, 1);
  margin-top: 0.5em;
}

#p2_sidebar .sidebar-inner {
  padding: 1em;
}

#p2_sidebar .chart img {
  width: 100%;
}
.p2_form-wrapper {
  display: block;
  width: 100%;
  margin-left: -4em;
  padding: 1.5em 0 1.5em 4em;
  background-color: #c7ddeb;
  clear: both;
  overflow: visible;
  box-sizing: border-box;
}

.p2_form-row {
  width: 100%;
  padding: 0 4em 1em 0;
  box-sizing: border-box;
}

.p2_form-label {
  display: block;
  font-size: 18px;
  font-weight: 900;
}

.p2_input-field {
  width: 98%;
  line-height: 22px;
}

.p2_form-input_group {
  padding-right: 1em;
  float: left;
  box-sizing: border-box;
  padding-top: 1em;
}

.p2_one-whole { width: 100%; padding-top: 0; }

.p2_which_client_wrapper { width: 25%; }
.p2_which_task_wrapper { width: 25%; }
.p2_when_wrapper { width: 15%; }
.p2_how_long_wrapper { width: 15%; }

.p2_form-submit_button {
  display: inline-block;
  margin-top: 2.6em;
}

.oa3_ui input[type="submit"].p2_submit {
  padding: 1px 1.5em;
  font-size: 18px !important;
  font-weight: 100 !important;
  line-height: 22px !important;
  letter-spacing: 1px;
  float: left !important;
}
