@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\000036}}
.timesheet td.formButtonBar #save_grid_submit {
  margin-right: 10px !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000311}}
#timesheet_grid, .timesheetPinned, #timesheet_header_lower {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000315}}
#p2_content {
  width: 100%;
  padding-left: 4em;
  margin-top: 2em;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000321}}
#p2_content * {
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000325}}
#p2_content .p2_form-wrapper {
  padding: 1.5em;
  width: 95%;
  background-color: #f4f2ed;
  clear: both;
  overflow: visible;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000332}}
#p2_content .p2_form-wrapper .p2_row div {
  width: 19%;
  display: inline-block;
  margin-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000337}}
#p2_content .p2_form-wrapper .p2_row div input {
  width: 90%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000342}}
#p2_content .p2_form-wrapper select {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000346}}
#p2_content .p2_form-wrapper label {
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000351}}
#p2_content input {
  -webkit-box-shadow: 0 1px 4px rgba(128, 128, 128, 0.4);
  -moz-box-shadow: 0 1px 4px rgba(128, 128, 128, 0.4);
  box-shadow: 0 1px 4px rgba(128, 128, 128, 0.4);
  border: none;
  outline: none;
  padding: 15px;
  font-size: 16px;
  width: 100%;
}
