@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\000031}}
#timesheet_grid, .timesheetPinned, #timesheet_header_lower {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\000035}}
#p2_content {
  width: 70%;
  float: left;
  padding-left: 4em;
  margin-top: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000311}}
#p2_content .p2_form-wrapper {
  display: block;
  width: 100%;
  padding: 1.5em 0px 0.75em 2em;
  background-color: #c7ddeb;
  clear: both;
  overflow: visible;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000321}}
#p2_content .p2_form-row {
  width: 100%;
  padding: 0 4em 1em 0;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000327}}
#p2_content .p2_form-label {
  display: block;
  font-size: 18px;
  font-weight: 900;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000333}}
#p2_content .p2_input-field {
  width: 98%;
  line-height: 22px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000338}}
#p2_content .p2_form-input_group {
  padding-right: 1em;
  float: left;
  box-sizing: border-box;
  padding-top: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000345}}
#p2_content .p2_one-whole {
  width: 100%;
  padding-top: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000347}}
#p2_content .p2_which_client_wrapper {
  width: 25%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000348}}
#p2_content .p2_which_task_wrapper {
  width: 25%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000349}}
#p2_content .p2_when_wrapper {
  width: 15%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000350}}
#p2_content .p2_how_long_wrapper {
  width: 15%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000352}}
#p2_content .p2_form-submit_button {
  display: inline-block;
  margin-top: 2.6em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000357}}
#p2_content .oa3_ui input[type="submit"].p2_submit {
  padding: 1px 1.5em;
  font-size: 18px !important;
  font-weight: 100 !important;
  line-height: 22px !important;
  letter-spacing: 1px;
  float: left !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000367}}
#p2_sidebar {
  width: 20%;
  float: right;
  padding-right: 4em;
  margin-top: 2em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000373}}
#p2_sidebar h2 {
  font-weight: bold;
  color: white;
  background: black;
  padding: 0.5em 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000380}}
#p2_sidebar .total {
  font-weight: bold;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000384}}
#p2_sidebar table {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000388}}
#p2_sidebar > div {
  background-color: #f5f1ee;
  margin-top: 0.5em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000393}}
#p2_sidebar .sidebar-inner {
  padding: 1em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000397}}
#p2_sidebar .chart img {
  width: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\00003104}}
.p2TimeTableWrapper h1 {
  font-weight: normal !important;
  margin: 30px 0 8px 0 !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\00003109}}
.p2TimeTableWrapper table {
  width: 100%;
  border-spacing: 0;
  border-collapse: separate;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\00003115}}
.p2TimeTableWrapper table tr {
  opacity: 0.60;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\00003119}}
.p2TimeTableWrapper table tr:hover {
  opacity: 1;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\00003128}}
.p2TimeTableWrapper table tr td {
  border-bottom: 2px solid #f5f2ed;
  padding: 7px 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\00003133}}
.p2TimeTableWrapper .p2timeWorkingOn {
  font-weight: bold;
  width: 45%;
  padding-right: 50px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\00003139}}
.p2TimeTableWrapper .p2WhichClient {
  width: 25%;
  padding-right: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\00003144}}
.p2TimeTableWrapper .p2ProjectStatus {
  width: 10%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\00003148}}
.p2TimeTableWrapper .p2TimeSpent {
  font-weight: bold;
  width: 5%;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\00003154}}
.p2TimeTableWrapper .p2EditThis {
  width: 5%;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\00003159}}
.p2TimeTableWrapper .p2EditThis a:link, .p2TimeTableWrapper .p2EditThis a:visited {
  text-decoration: none;
  color: #a8bd35;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\00003164}}
.p2TimeTableWrapper .p2EditThis a:hover {
  font-weight: bold;
  zoom: 125%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\00003169}}
.p2TimeTableWrapper .p2DeleteThis {
  width: 5%;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\00003174}}
.p2TimeTableWrapper .p2DeleteThis a:link, .p2TimeTableWrapper .p2DeleteThis a:visited {
  text-decoration: none;
  color: #000;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\00003179}}
.p2TimeTableWrapper .p2DeleteThis a:hover {
  font-weight: bold;
  zoom: 125%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\00003184}}
.p2TimeTableWrapper:last-child {
  margin-bottom: 75px;
}
