$lightblue: #99cee7;
$lightgray: #f4f2ed;
$green: #a9dd2d;

// Styles for the options page only.
.oa-reborn-options-page {
  font-family: 'Open Sans', sans-serif;
  width: 550px;
  margin: 40px auto;
  * {
    box-sizing: border-box;
  }
  h1 {
    background: transparent url(http://i.imgur.com/aSMH6aL.png) no-repeat left center;
    font-size: 40px;
    padding-left: 2em;
    font-weight: 300;
    background-size: contain;
    margin-bottom: 40px;
  }
  .form-input-wrapper {
    margin: 40px 0;
  }
  label {
    display: block;
    text-transform: uppercase;
    font-weight: normal;
    font-size: 16px;
    color: #888;
    float: left;
    width: 50%;
  }
  .description {
    font-size: 12px;
  }
  input[type=text] {
    width: 100%;
    padding: 5px;
  }
  .status {
    padding: 15px;
    background: #d3ffe0;
    color: #555;
  }
  select {
    padding: 5px;
  }
  input, select {
    font-size: 16px;
  }
}

// Miscellaneous OpenAir fixes start here
table.timesheet {
  margin-top: 0 !important;
}
#timesheet_grid {
  margin-top: 15px !important;
}
.timesheet {
  td.formButtonBar #save_grid_submit {
    margin-right: 10px !important;
  }
  td.formButtonBarOnFullScreen {
     padding-right: 10% !important;
  }
}


@media (max-width: 768px) {
  #save_grid_submit {
    display: block;
    float: right;
  }
  #timesheet_form_button_bar {
    position: relative;
    top: -18px;
  }
}

// Styles for OpenAir Reborn start here
.timesheetPinned,
#timesheet_grid,
#timesheet_header,
#timesheet_header_lower {
  display: none;
}

#p2_content {
  width: 100%;
  padding-left: 4em;
  margin-top: 2em;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  .p2-form-wrapper {
    padding: 1.5em;
    width: 95%;
    background-color: $lightgray;
    clear: both;
    overflow: visible;

    h1.total-time {
      float: right;
      background: $lightgray;
      margin-top: 19px;
      margin-right: -20px;
      padding: 10px 20px;
    }

    .p2-input,
    .chosen-single,
    .chosen-container-multi .chosen-choices {
      -webkit-box-shadow: 0 1px 4px rgba(128, 128, 128, .4) !important;
      -moz-box-shadow: 0 1px 4px rgba(128, 128, 128, .4) !important;
      box-shadow: 0 1px 4px rgba(128, 128, 128, .4) !important;
      border: none !important;
      outline: none;
      padding: 15px;
      border-radius: 0;
      font-size: 16px;
      width: 100%;
      background: white !important;
    }
    .p2-input:focus,
    .chosen-container-active .chosen-choices,
    .chosen-container-active .chosen-single {
      -webkit-box-shadow: 0 1px 4px rgba(0, 255, 0, .7) !important;
      -moz-box-shadow: 0 1px 4px rgba(0, 255, 0, .7) !important;
      box-shadow: 0 1px 4px rgba(0, 255, 0, .7) !important;
    }
    .chosen-container-multi .chosen-choices {
      padding: 13px 15px 14px;
      margin-top: -3px;
      input {
        padding: 0;
      }
      li.search-choice {
        margin-top: 0;
        margin-bottom: 0;
      }
    }

    .p2-notes-input {
      width: 88.5%;
      float: right;
    }
    .p2-time-input {
      width: 10%;
    }

    .p2-row div.p2-input-wrapper {
      width: 29.5%;
      display: inline-block;
      @media (max-width: 768px) {
        margin-top: 20px;
      }
      input {
        width: 90%;
      }
      select {
        display: block;
      }
      label {
        font-size: 16px;
      }
      &.p2-text {
        width: 10%;
      }
      .p2-submit {
        padding: 15px;
      }
    }

    .chosen-container {
      width: 95% !important;
      .chosen-single {
        height: 48px;
        padding: 11px 15px;
        font-size: 16px;
        margin-top: -3px;
      }
      .search-choice span {
        text-overflow: ellipsis;
        max-width: 50px;
        display: inline-block;
        overflow: hidden;
      }
      .chosen-search input {
        width: 100% !important;
        margin-bottom: 10px;
      }
      .chosen-results li.highlighted {
        color: black !important;
        background: $lightblue !important;
      }
    }
    .chosen-with-drop .chosen-single {
      border: 1px solid rgb(170, 170, 170) !important;
    }

    @media (max-width: 1024px) {
      .p2-row div.p2-input-wrapper {
        width: 28%;
        &.p2-date-wrapper .chosen-container {
          width: 100% !important;
        }
      }
    }

    .p2-button-wrapper {
      position: relative;
      top: 17px;
    }

    @media (max-width: 768px) {
      .p2-time-input {
        width: 25% !important;
      }
      .p2-notes-input {
        width: 71% !important;
      }
      .p2-row div.p2-input-wrapper {
        width: 100% !important;
        display: block;
        .chosen-container,
        input {
          width: 100% !important;
          float: none;
        }
        &.p2-button-wrapper {
          clear: both;
          display: block;
          width: 100%;
          top: 0;
          input {
            width: 100%;
            margin-left: 0 !important;
          }
        }
      }
    }
  }

  .p2-table-wrapper {
    margin-top:20px;
    font-size: 14px;
    .error {
      font-size: 16px;
      font-weight: bold;
      color: #6e5d2b;
      background: #fc0;
      padding: 15px;
      width: 95%;
    }
    .p2-totals {
      cursor: pointer;
      &:hover {
        background: $lightgray;
      }
      h2 {
        margin-top: 30px;
        margin-bottom: 10px;
      }
      border: 3px solid $lightgray;
      padding: 0 10px 20px;
      width: 95%;
      ul {
        margin-top: 15px;
        padding-left: 27px;
        li {
          margin: 15px 0;
          font-size: 16px;
        }
      }
    }
    h2 {
      margin: 40px 0 20px;
      font-weight: normal;
      color: #777;
      font-size: 22px;
      margin-left: 10px;
    }
    table {
      width: 95%;
    }
    td, th {
      padding: 10px;
      border: none;
      outline: none;
      overflow: hidden;
      text-overflow: ellipsis;
      text-align: left;
      font-size: 14px;
      &:last-child {
        padding-right: 0;
      }
    }
    .p2-project {
      width: 30%;
      color: black;
      span.p2-task-name {
        color: #777;
        font-size: 12px;
      }
    }
    .p2-notes {
      width: 55%;
      color: #777;
      font-style: italic;
    }
    .p2-time {
      width: 5%;
      font-weight: bold;
    }
    .p2-edit {
      width: 10%;
      text-align: right;
      opacity: 0.1;
      a {
        display: inline-block;
        margin-right: 10px;
        width: 16px;
        height: 16px;
        white-space: nowrap;
        overflow: hidden;
        text-indent: 100%;
        &.p2-timer-link {
          background: transparent url(http://i.imgur.com/sPjWo4O.png);
        }
        &.p2-edit-link {
          background: transparent url(http://i.imgur.com/FNOH9ab.png);
        }
        &.p2-delete-link {
          background: transparent url(http://i.imgur.com/2onIns8.png);
        }
      }
    }
    .p2-project-color {
      text-shadow: 0 1px 0 rgba(70,70,70,.4);
      padding: 2px 5px !important;
      text-transform: uppercase;
      font-size: 10px;
      font-family: 'Open Sans', arial, sans-serif;
      color: white;
      border-radius: 2px;
    }
    .p2-project-color-1 { background-color: #4dc3ff; }
    .p2-project-color-2 { background-color: #bc85e6; }
    .p2-project-color-3 { background-color: #df7baa; }
    .p2-project-color-4 { background-color: #268bb5; }
    .p2-project-color-5 { background-color: #094558; }
    .p2-project-color-6 { background-color: #8ab734; }
    .p2-project-color-7 { background-color: #14a88e; }
    .p2-project-color-8 { background-color: #a4506c; }
    .p2-project-color-9 { background-color: #6668b4; }
    .p2-project-color-0 { background-color: #bc2d07; }
  }
  tr {
    -webkit-animation: blue-fade 0.5s ease-in 1;
    animation: blue-fade 0.5s ease-in 1;
    &:hover {
      background: $lightgray;
      .p2-edit {
        opacity: 1;
      }
    }
    &.timing {
      background-color: $green;
      .p2-timer-link {
        background: transparent url(http://i.imgur.com/fzY94u7.png) !important;
      }
    }
  }


  // Relative bckground image doesn't work correctly in a Chrome extension,
  // and using the __MSG__ placeholder trick didn't either. Sue me.
  .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    background: url('http://i.imgur.com/C0JrorS.png') -42px 1px no-repeat;
  }

}

@-webkit-keyframes blue-fade {
  0% {background: $lightblue;}
  100% {background: none;}
}

@keyframes blue-fade {
  0% {background: $lightblue;}
  100% {background: none;}
}
