@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\000035}}
.timesheet td.formButtonBar #save_grid_submit {
  margin-right: 10px !important;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000310}}
#timesheet_grid, .timesheetPinned, #timesheet_header_lower {
  display: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000314}}
#p2_content {
  width: 100%;
  padding-left: 4em;
  margin-top: 2em;
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000320}}
#p2_content * {
  box-sizing: border-box;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000324}}
#p2_content .p2-form-wrapper {
  padding: 1.5em;
  width: 95%;
  background-color: #f4f2ed;
  clear: both;
  overflow: visible;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000333}}
#p2_content .p2-form-wrapper .p2-input,
#p2_content .p2-form-wrapper .chosen-single,
#p2_content .p2-form-wrapper .chosen-container-multi .chosen-choices {
  -webkit-box-shadow: 0 1px 4px rgba(128, 128, 128, 0.4) !important;
  -moz-box-shadow: 0 1px 4px rgba(128, 128, 128, 0.4) !important;
  box-shadow: 0 1px 4px rgba(128, 128, 128, 0.4) !important;
  border: none !important;
  outline: none;
  padding: 15px;
  border-radius: 0;
  font-size: 16px;
  width: 100%;
  background: white !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000345}}
#p2_content .p2-form-wrapper .chosen-container-multi .chosen-choices {
  padding: 13px 15px 14px;
  margin-top: -3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000348}}
#p2_content .p2-form-wrapper .chosen-container-multi .chosen-choices input {
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000351}}
#p2_content .p2-form-wrapper .chosen-container-multi .chosen-choices li.search-choice {
  margin-top: 0;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000357}}
#p2_content .p2-form-wrapper .p2-row div.p2-input-wrapper {
  width: 25%;
  display: inline-block;
  margin-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000361}}
#p2_content .p2-form-wrapper .p2-row div.p2-input-wrapper input {
  width: 90%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000364}}
#p2_content .p2-form-wrapper .p2-row div.p2-input-wrapper select {
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000367}}
#p2_content .p2-form-wrapper .p2-row div.p2-input-wrapper label {
  font-size: 16px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000370}}
#p2_content .p2-form-wrapper .p2-row div.p2-input-wrapper.p2-text {
  width: 10%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000373}}
#p2_content .p2-form-wrapper .p2-row div.p2-input-wrapper .p2-submit {
  padding: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000378}}
#p2_content .p2-form-wrapper .chosen-container {
  width: 95% !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000380}}
#p2_content .p2-form-wrapper .chosen-container .chosen-single {
  height: 48px;
  padding: 11px 15px;
  font-size: 16px;
  margin-top: -3px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000387}}
#p2_content .p2-form-wrapper .chosen-with-drop .chosen-single {
  border: 1px solid #aaaaaa !important;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000393}}
#p2_content .p2-table-wrapper {
  margin-top: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\0000395}}
#p2_content .p2-table-wrapper h2 {
  margin-top: 20px;
  font-weight: normal;
  color: #aaa;
  font-size: 22px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\00003101}}
#p2_content .p2-table-wrapper table {
  width: 95%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\00003104}}
#p2_content .p2-table-wrapper td, #p2_content .p2-table-wrapper th {
  padding: 5px;
  text-align: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\00003107}}
#p2_content .p2-table-wrapper td:first-child, #p2_content .p2-table-wrapper th:first-child {
  padding-left: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\00003110}}
#p2_content .p2-table-wrapper td:last-child, #p2_content .p2-table-wrapper th:last-child {
  padding-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/mcrittenden\/Documents\/Code\/openair-reborn\/app\/styles\/main\.scss}line{font-family:\00003116}}
#p2_content .chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  background: url("http://i.imgur.com/C0JrorS.png") -42px 1px no-repeat;
}
