$lightblue: #99cee7;
$lightgray: #f4f2ed;


// Miscellaneous OpenAir fixes start here
.timesheet td.formButtonBar #save_grid_submit {
  margin-right: 10px !important;
}

// Styles for OpenAir Reborn start here
#timesheet_grid, .timesheetPinned, #timesheet_header_lower {
  display: none;
}

#p2_content {
  width: 100%;
  padding-left: 4em;
  margin-top: 2em;
  box-sizing: border-box;

  * {
    box-sizing: border-box;
  }

  .p2_form-wrapper {
    padding: 1.5em;
    width: 95%;
    background-color: $lightgray;
    clear: both;
    overflow: visible;

    .p2_row div {
      width: 19%;
      display: inline-block;
      margin-top: 20px;

      input {
        width: 90%;
      }
    }

    select {
      display: block;
    }

    label {
      font-size: 16px;
    }
  }

  input {
    -webkit-box-shadow: 0 1px 4px rgba(128,128,128,.4);
    -moz-box-shadow: 0 1px 4px rgba(128,128,128,.4);
    box-shadow: 0 1px 4px rgba(128,128,128,.4);
    border: none;
    outline: none;
    padding: 15px;
    font-size: 16px;
    width: 100%;
  }
}