
    <div class="modal">
      <header class="bar bar-header bar-positive">
        <h1 class="title">Start Task</h1>
        <button class="button button-icon" ng-click="closeStartTaskModal()"><i class="icon ion-close"></i></button>
      </header>
      <ion-content has-header="true" padding="true">
          <div class="list">
          <!-- ng-repeat="task in openedProject"  -->
          <!-- <select ng-model="color" ng-options="c.name for c in colors"></select> -->
            <select ng-model="taskInfo.TaskName" required>
              <option ng-repeat="task in openedProject">{{task.SubTaskTitle}}</option>
            </select>
            <label class="item item-input">
                <textarea ng-model="taskInfo.Comments" placeholder="Comments"></textarea>
              </label>
            <!-- <label class="item item-input">
              <span class="input-label">Project Name</span>
              <input type="text" placeholder="Projct Name" ng-model="project.projectName">
            </label> -->
            <!-- // <label class="item item-input">
            //   <span class="input-label">Last Name</span>
            //   <input type="text" placeholder="">
            // </label>
            // <label class="item item-input">
            //   <span class="input-label">Email</span>
            //   <input type="text" placeholder="">
            // </label> -->
            <button class="button button-full button-positive" ng-click="startTrackingTask(taskInfo)">Create</button>
          </div>
        </div>
      </ion-content>
    </div>

