<!doctype html>
<html>
    <head>
        <title>OpenAir Reborn Settings</title>
        <!-- bower:css -->
        <!-- endbower -->

        <!-- build:css styles/main.css -->
        <link href="styles/main.css" rel="stylesheet">
        <!-- endbuild -->

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/angular/angular.js"></script>
        <script src="bower_components/angular-chosen-localytics/chosen.js"></script>
        <!-- endbower -->

        <!-- build:js scripts/options.js -->
        <script src="scripts/options.js"></script>
        <!-- endbuild -->
    </head>
    <body ng-app="OpenAirRebornOptions">
        <div class="oa-reborn-options-page" ng-controller="OptionsController">
            <h1>OpenAir Reborn Options</h1>
            <p class="status" ng-show="status">{{status}}</p>

            <form action="">
                <div class="form-input-wrapper">
                    <label for="timeFormat">Time duration format</label>
                    <select id="timeFormat" name="timeFormat" ng-model="timeFormat">
                        <option value="hhmm">HH:MM (Example: 8:45)</option>
                        <option value="decimal">Decimal (Example: 8.75)</option>
                    </select>
                    <p class="description">This is used to determine how daily and weekly totals are displayed.</p>
                </div>
                <div class="form-input-wrapper">
                    <label for="multipleTimers">Allow multiple timers</label>
                    <select id="multipleTimers"  name="multipleTimers" ng-model="multipleTimers">
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                    <p class="description">Choosing "No" will automatically stop a running timer whenever a new one is started.</p>
                </div>
                <div class="form-input-wrapper">
                    <label for="autosave">Auto-save timesheet</label>
                    <select id="autosave"  name="autosave" ng-model="autosave">
                        <option value="1">Yes</option>
                        <option value="0">No</option>
                    </select>
                    <p class="description">Choosing "Yes" will automatically save your timesheet after 15 minutes of inactivity.</p>
                </div>
                <!--
                <div class="form-input-wrapper">
                    <label for="persistentTimers">Persistent timers</label>
                    <select id="persistentTimers" name="persistentTimers" ng-model="persistentTimers">
                        <option value="1">On</option>
                        <option value="0">Off</option>
                    </select>
                    <p class="description">Choosing "Off" will stop all timers when the browser tab is closed, otherwise they will keep running.</p>
                </div>
                -->
                <div class="form-input-wrapper">
                    <label>Submit</label>
                    <input ng-click="save()" type="submit" value="Save" />
                    <input ng-click="saveAndClose()" type="submit" value="Save and close" />
                    <input ng-click="reset()" type="submit" value="Reset"/>
                </div>
            </form>
        </div>
    </body>
</html>
