<div class="p2_form-wrapper">

    <input placeholder="What are you working on?" type="text" ng-model="description" class="p2_working_on" />

    <div class="p2_row">
        <div>
            <select chosen ng-model="project" ng-options="k as v for (k, v) in projects" class="p2_which_client">
                <option value="">Select a project...</option>
            </select>
        </div>
        <div>
            <!--<select chosen ng-model="task" ng-options="tasks" class="p2_which_task">-->
                <!--<option value="">Select a task...</option>-->
            <!--</select>-->
        </div>
        <div>
            <input placeholder="1h" type="text" ng-model="duration" class="p2_how_long" />
        </div>
        <div>
            <input placeholder="Today" type="text" ng-model="when" class="p2_when" />
        </div>
        <div>
            <input type="submit" ng-click="addTime" class="p2_submit" value="Save" />
        </div>
    </div>

</div>
